*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 60px;
    background-color: rgb(52, 77, 77);
    opacity: 100%;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.navbar img{
    height: 75px;
    margin-top: 15px;
}
.navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
li a{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
li :hover{
    font-weight: 900;
    color: rgb(15, 31, 24);
}
.search input{
    margin-left: 40vw;
    height: 30px;
    width: 23vw;
    border-style: groove;
    border-radius: 5px;
}
.btn input{
    margin-left: 7px;
    margin-right: 46px;
    width: 50px;
    height: 30px;
    background-color: rgb(20, 43, 32);
    color: rgb(219, 211, 201);
    border-color: rgb(243, 240, 237);
    border-radius: 25px;
}
.btn :hover{
    background-color: rgb(243, 240, 237);
    color: rgb(20, 43, 32);
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 3px 1px 10px rgb(66, 63, 63);
}
footer{
    margin-top: 5px;
    background-color: rgb(52, 77, 77);
    padding: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
footer hr{
    border: 1px none none none; 
    border-color: rgb(15, 31, 24);
    border-style: outset;
}
.active li a{
    color: rgb(223, 189, 37);
    font-weight: bolder;
}
.active li{
    border: 0px 0px 2px 0px;
    border-color: rgb(15, 31, 24);;
}
.social img{
    width: 20px;
    padding: 5px;
    margin-top: 3px;
}
footer hr{
    width: 150px;
}
.contact{
    margin: 15px;
    height: 600px;
    background-color: rgb(192, 192, 192);
    text-align: center;
    border: 1px outset rgb(172, 164, 164);
    border-radius: 20px;
    box-shadow: 3px 1px 10px black;
}
main{
    margin: 65px;
}
.image img{
    float: left;
    opacity: 25%;
    margin-top: 25px;
    padding: 15px;
    position: relative;
    height: 38vw;
}
.form{
    text-align: left;
    padding: 45px;
    line-height: 50px;
    margin-top: 120px;
    position: absolute;;
}
.form p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-shadow: 3px 1px 10px #696969;
    float: right;
    margin-right: 25px;
    margin-left: 525px;
}
.form input{
    float: right;
    height: 30px;
    width: 400px;
    margin-right: 120px;
    margin-top: 9px;
    margin-left: 25px;
    border-radius: 5px;
    background-color: #dbdbdb;
    box-shadow: 3px 1px 10px black;
}
.but input{
    width: 550px;
    margin-top: 25px;
    background-color: rgb(52, 77, 77);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-radius: 5px;
    height: 40px;
    color: white;
}
.but :hover{
    border: 3px groove rgb(189, 194, 192);
    background-color: rgb(17, 34, 34);
    color: rgb(255, 255, 255);
}
.about{
    margin: 15px;
    background-color: rgb(159, 168, 168);
}
.about p{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    text-align: center;
}
.about{
    border-radius: 5px;
    box-shadow: 3px 1px 10px black;
    text-align: center;
}
.about img{
    width: 31%;
    padding: 10px;
    box-shadow: 3px 1px 10px black;
}

/* Responsiive work */

@media screen and (max-width: 1000px){
    .navbar{
        height: 60px;
        display: inline-flex;
        position: absolute;
        align-items: center;
        width: 100%;
    }
    .navbar img{
        height: 8vh;
        margin-top: 15px;
    }
    .navbar li{
        padding: 0px 10px;
        position: relative;
    }   
    li a{
        font-family: 'Montserrat', sans-serif;
        font-size: medium;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }
    .search input{
        margin-left: 50px;
        height: 30px;
        width: 23vw;
    }
    .btn input{
        margin-left: 7px;
        margin-right: 0px;
        width: 50px;
        height: 30px;
        background-color: rgb(20, 43, 32);
        color: rgb(219, 211, 201);
        border-color: rgb(243, 240, 237);
        border-radius: 25px;
    }
    .btn :hover{
        background-color: rgb(243, 240, 237);
        color: rgb(20, 43, 32);
    }
    h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        text-shadow: 3px 1px 10px rgb(66, 63, 63);
    }
    footer{
        margin-top: 5px;
        background-color: rgb(52, 77, 77);
        padding: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }
    footer hr{
        border: 1px none none none; 
        border-color: rgb(15, 31, 24);
        border-style: outset;
    }
    .active li a{
        color: rgb(223, 189, 37);
        font-weight: bolder;
    }
    .active li{
        border: 0px 0px 2px 0px;
        border-color: rgb(15, 31, 24);;
    }
    .social img{
        width: 20px;
        padding: 5px;
        margin-top: 3px;
    }
    footer hr{
        width: 150px;
    }
    .contact{
        margin: 15px;
        height: 600px;
        background-color: rgb(192, 192, 192);
        text-align: center;
        border: 1px outset rgb(172, 164, 164);
        border-radius: 20px;
        box-shadow: 3px 1px 10px black;
    }
    main{
        margin: 65px;
    }
    .image img{
    display: none;
    }
    .form{
        text-align: center;
        padding: 45px;
        line-height: 0px;
        margin-top: 120px;
        visibility: hidden;
        margin-top: 40px;
    }
    .form p{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-shadow: 3px 1px 10px #696969;
        margin-right: 0px;
        visibility: hidden;
        display: contents;
       
    }
    .form input{
        margin-left: 155px;
        height: 30px;
        width: 75%;
        margin-right: 0px;
        visibility: visible;
        position: relative;
        margin-top: 20px;
    }
    .but input{
        width: 50%;
        margin-top: 25px;
        height: 40px;
        margin-right: 55px;
    }
}
@media screen and (max-width: 650px){
    .navbar{
        height: 80px;
        display: inline;
        text-align: center;
        width: 100%;
    }
    .navbar img{
        height: 4vh;
        margin-top: 5px;
        display: none;
    }
    .navbar li{
        margin-top: 6px;
    }   
    li a{
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }
    .search input{
        margin: 5px 0px 0px 0px;
        height: 15px;
        width: 23vw;
        display: none;
    }
    .btn input{
        display: none;
        margin: 5px 0px 0px 0px;
        width: 50px;
        height: 30px;
        background-color: rgb(20, 43, 32);
        color: rgb(219, 211, 201);
        border-color: rgb(243, 240, 237);
        border-radius: 25px;
    }
    .btn :hover{
        background-color: rgb(243, 240, 237);
        color: rgb(20, 43, 32);
    }
    h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        text-shadow: 3px 1px 10px rgb(66, 63, 63);
    }
    footer{
        margin-top: 5px;
        background-color: rgb(52, 77, 77);
        padding: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }
    footer hr{
        border: 1px none none none; 
        border-color: rgb(15, 31, 24);
        border-style: outset;
    }
    .active li a{
        color: rgb(223, 189, 37);
        font-weight: bolder;
    }
    .active li{
        border: 0px 0px 2px 0px;
        border-color: rgb(15, 31, 24);;
    }
    .social img{
        width: 20px;
        padding: 5px;
        margin-top: 3px;
    }
    footer hr{
        width: 150px;
    }
    .contact{
        margin: 15px;
        height: 600px;
        background-color: rgb(192, 192, 192);
        text-align: center;
        border: 1px outset rgb(172, 164, 164);
        border-radius: 20px;
        box-shadow: 3px 1px 10px black;
    }
    main{
        margin: 90px 0px 0px 0px;
    }
    .image img{
    display: none;
    }
    .form{
        text-align: center;
        padding: 45px;
        line-height: 0px;
        margin-top: 120px;
        visibility: hidden;
        margin-top: 40px;
    }
    .form p{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        font-size: 15px;
        text-shadow: 3px 1px 10px #696969;
        margin-right: 0px;
        visibility: hidden;
       
    }
    .form input{
        height: 30px;
        width: 75%;
        margin-right: 10vw;
        visibility: visible;
        position: relative;
        margin-top: 20px;
    }
    .but input{
        width: 50%;
        margin-top: 25px;
        height: 40px;
        margin-right: 20vw;
    }
}